html
{
	background-color: white;
	
}

 /* Think about making these photos a fixed size so doesnt vary so much when shift window sizes */
#personalphoto
{
	float: left;
	width: 250px;
	height: 300px;
	padding: 1rem 1rem 10rem 0rem;
	
}



.navigationbar
{
	width: 100%;
	height: 3rem;
	position: fixed;
	background-color: #9370DB;
	text-align: center;

}

.navigationlinks
{
	padding: 5vw;
	color: white;
}

.title{
	text-align: center;
}

table.center{
	margin-left: auto;
	margin-right: auto;
}

.photos
{
	height: 100px; /* Set mins/ maxs on these photos? */
	width: 100px;  /*How do I want to style this? */
}

h1
{
	font: italic bold 150% "Times New Roman", sans-serif;
}

h3
{
	font: italic bold 100% "Times New Roman", sans-serif;
	text-decoration: underline;
}

p
{
	font: 1.2vw "Times New Roman", sans-serif;
	/*font-size: 50%;
	font-family: "Times New Roman", sans-serif;*/
}