html
{
	background-color: white;
}

.title{
	text-align: center;
}

table.center{
	margin-left: auto;
	margin-right: auto;
}
.navigationbar
{
	width: 100%;
	height: 3rem;
	position: fixed;
	background-color: #9370DB;
	text-align: center;

}

.navigationlinks
{
	padding: 5vw;
	color: white;
}


table
{
	border-collapse: collapse;
	font-size: 3vw;
	
}

table, th, td
{
	width: 75%;
	border: .5px solid black;
	font-family: Calibri;
}

td
{
	font-size: 1.5vw;
}

th
{
	text-align: left;
	font-size: 2vw;
}


h1
{
	font-family: Calibri;
}

.buttons {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
	margin-right: 15px;
	margin-bottom: 15px;
    cursor: pointer;
	display: inline;
}


p{	
	font: italic bold 100% "Times New Roman", sans-serif;
	text-decoration: underline;
	text-align: center;
}

.remove{
	display: inline;
	margin-left: 10vw;
}

.changeCustom{
	display: inline;
}

#removeButton
{
	background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: none;
	margin-left: 12vw;
	margin-bottom: 15px;
    cursor: pointer;
	display: inline;
}







